body {
  font-family: Arial, sans-serif;
  /* width: 600px; */
}

.new {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

form {
  margin-top: 20px;
}

input {
  padding: 10px;
  width: 70%;
}

button {
  padding: 10px;
}
